

<!DOCTYPE html>
<html>
  <head>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWWhvWicgH8LasYYaQ7HCtztjx2g2CjB0&callback=initMap">
    </script>
    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>

    <h1>Welcome to Vagrant</h1>

    <h2>Find Skrillex <a href="http://skrillex.com/tour/"> tour dates</a> near your location!!!</h2>
    <h2>Thinking of joining Isis? Watch these <a href="https://www.youtube.com/user/ThinkAgainTurnAway">videos</a> first.</h2>

    <div id="map"></div>
    <script>
      var locations = [
        ['Bondi Beach', -33.890542, 151.274856, 4],
        ['Coogee Beach', -33.923036, 151.259052, 5],
        ['Cronulla Beach', -34.028249, 151.157507, 3],
        ['Manly Beach', -33.80010128657071, 151.28747820854187, 2],
        ['Maroubra Beach', -33.950198, 151.259302, 1]
      ];

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: new google.maps.LatLng(-33.92, 151.25),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });

      var infowindow = new google.maps.InfoWindow();

      var marker, i;

      for (i = 0; i < locations.length; i++) {
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
          map: map
        });

        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            infowindow.setContent(locations[i][0]);
            infowindow.open(map, marker);
          }
        })(marker, i));
      }
    </script>

  </body>
</html>
