
<div class="flash_msg">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
        <% if key == "danger" %>
          <strong>Sorry, you got issues: </strong>
        <% end %>
      <%= value %>
    </div>
  <% end %>
</div>
