@import "bootstrap-sprockets";
@import "bootstrap";

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}

h1, h3 {
  font-weight: 700;
}

p {
  font-family: 'Spectral', serif;
}

body {
  color: 	#333;
  background-color: #F1F1F1;
}

.loc_comment, .post_post, .user_popo {
  margin: 20px 0;
  padding: 15px;
  background: #FFF;
  box-shadow: 9px 9px 30px #999;
}

.user_popo, .loc_loc {
  margin: 10px 0;
  padding: 10px;
  background: #FFF;
  box-shadow: 6px 6px 20px #999;
}

.city_image {
  width: 100%;
  height: 100%;
  background-size: cover;
  min-height:600px;
}

.city_name {
  text-align: center;
  padding-top: 100px;
}

.add_post_button {
  background-color: black;
}
