@import "bootstrap-sprockets";
@import "bootstrap";

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}

h1, h3 {
  font-weight: 700;
}

p {
  font-family: 'Spectral', serif;
}

body {
  color: 	#333;
  background-color: #F1F1F1;
}

.form {
  // margin-top: 100px;
}

.form_header_text {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.navbar-brand {
  font-family: 'Permanent Marker', sans-serif;
  font-size: 25px;
}

.navbar-default .navbar-link {
  color: rgb(204,59,0);
}

.navbar-default .navbar-link:hover {
  color: rgb(204,59,0);
}

.flash_msg {
  margin-top: 100px;
}

.loc_comment, .post_post, .user_popo, .single_popo {
  margin: 20px 0;
  padding: 15px;
  background: #FFF;
  box-shadow: 9px 9px 30px #999;
}

form {
  margin: 20px 0;
  padding: 15px;
  background: #FFF;
}

.user_popo, .loc_loc {
  margin: 10px 0;
  padding: 10px;
  background: #FFF;
  box-shadow: 6px 6px 20px #999;
}

.carousel, .item, {
  position: relative;
  max-height: 625px;
}

.carousel-caption {
  top: 200px;
}

.image_container {
  position: relative;
  top: -50px;
  overflow: hidden;
  max-height: 600px;
}

.city_image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.city_name {
  position: absolute;
  top: 300px;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 60px;
  font-family: 'Lato', sans-serif;
}

.add_post_button {
  display: block;
  margin: 0 auto;
  background-color: rgba(255,255,255,0);
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  width: 100px;
  height: 40px;
}

.add_post_button:hover {
  color: rgb(204,59,0);
  background-color: rgb(230, 230, 230)
}

.location_intro_cont {
  margin-bottom: 50px;
}

.location_intro {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.buttonz {
  color: #FFF;
  background-color: #144491;
  padding: 5px 10px;
  border: 2px solid #144491;
  border-radius: 5px;
}

.buttonz:hover,  .buttonz:focus,{
  color: #144491;
  font-weight: 700;
  background-color: #FFF;
}

a {
  color: #144491;
}

a:hover {
  color: #1c29db;
  text-decoration: none;
}

.ahey {
  color: #144491;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.ahey:hover {
  color: #1c29db;
  text-decoration: none;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #333;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #333;
    border-radius: 5px;
    box-sizing: border-box;
}

.button_to {
  background-color: #F1F1F1;
}

.new_user {
  background-color: #F1F1F1;
}

.form_for {
  background-color: #F1F1F1;
}

.map_text_cont {
  margin-top: 100px;
  margin-bottom: 50px;
}

.map_text {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

#map {
  margin-bottom: 100px;
}
