// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  color: 	#830303;
  background-image: url("https://static.pexels.com/photos/15793/night-train-scary-trawel.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
