<div class="container">
  <div class="all_locations">
    <h1 class="form_header_text">All Cities</h1>
    <% @locations.each do |location| %>
    <div class="loc_loc">

      <div class="edit-me-timbers">
        <h4> <%= link_to(location) do %>
          <%= location.city %>
          <% end %>
        </h4>
      </div>

      <div class="edit-me-timbers to-the-right">
        <% if current_user.name === "Bill Schuetzle" || current_user.name === "Justin McDavid" || current_user.name === "Cindy Le" %>
          <%= link_to edit_location_path(location) do %>
            <i class="glyphicon glyphicon-pencil"></i>
          <% end %>
        <% end %>
      </div>

    </div>
    <% end %>
  </div>
</div>
